@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
*{
    font-family:'Inter', sans-serif;
    font-size: 16px;
}
:root{
    --color1:#043d75;
    --color2:#0075ff;
    --color3:#FF8C83;
    --color4:#e7eef6;
    --color5:#ebeeff;
    --color6:#fee1d3;
    --color7:#e4e7ec;
    --color8:#6eb4d8;
    --color9:#ffd5bf;
    scroll-behavior: smooth;
}
section{
    background-color:#e7eef6 !important;
    transition: all ease-in-out 0.3s;
}
.more{
    display: none;
}
.dots,.less{
    cursor: pointer;
    color: #043d75;
}
.rating i{
    color: #FFB624;
}
.top-rated-review{
    /* max-width: 90%;
    border-radius: 5px 20px 5px;
    background-color: rgb(245, 245, 245); */
    background: rgb(245, 245, 245) none repeat scroll 0% 0%;
margin: 20px 0px 5px;
padding: 10px 0px;
min-height: 50px;
display: flex;
flex-direction: column;
-moz-box-pack: start;
justify-content: flex-start;
align-items: flex-start;
border: 0.5px solid rgb(238, 238, 238);
position: relative;
font-family: TheSans;
border-radius: 0px 22px;
width: 95%;
}
.top-rated-review .quote{
color: #0075ff;
rotate: 180deg;
transform: rotateY(180deg);
font-size: 25px;

}
.card,.card-header{
    background-color: white ;
    border-radius: 16px !important;
    box-sizing: border-box !important;
    box-shadow: 3px 3px 10px 0px #ddd;
}
.doctor-img img{
    width: 150px !important;
    height: 150px;
}
.exclamation,.umbrella,.star{
    color: #0075ff;
    font-size: 20px;
}
.tota-rate{
    background-color: #0075ff;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px  ;
}
.timing{
    font-size: 10px;
}
.card-header{
     border-radius: 10px 10px 0px 0px !important;
}
aside{
    position: sticky !important;
    top:5%;
   
    
}
.px15{font-size: 10px;}
.book{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.calender{
    display: flex;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
}
#less{
    color: #0075ff;
}
.full-rate{
    display: flex;
-moz-box-pack: start;
justify-content: flex-start;
align-items: flex-end;
margin: 8px 0px 0px 35px;
}
div.card-body{background-color: white;}

@media screen and(max-width:1400px) {
    .top-rated-review{
        width: 100%;
        padding: 10px;
    }
    .full-rate,.rating{
        display: block !important;
    }
}
.showReviews{
    margin: auto;
}
@media (max-width:460px){
    .modal-body{
        padding-bottom: 50px;
    }
    .carousel-control-next {
        right:80px !important;
        top:410px;

    }
    .carousel-control-prev {
        left: 80px !important;
        top: 410px;
    }
    /* .offer-icon{
        display: none !important;
    } */

}

/*
reviews
*/

.rating i{
    color: #FFB624;
}
.top-rated-review{
    border-radius: 5px 20px 5px;
    background-color: rgb(245, 245, 245);
}
.top-rated-review .quote{
    color: #0075ff;
    rotate: 180deg;
    transform: rotateY(180deg);
    font-size: 25px;
    
    }
.tota-rate{
        background-color: #0075ff;
        color: #fff;
        padding: 5px 5px;
        border-radius: 5px  ;
    }
   .card{
    background-color: white;
    border-radius: 16px !important;
    box-sizing: border-box !important;
    box-shadow: 3px 3px 10px 0px #ddd;
}
@media screen and (max-width:991px) {
    .review{
        text-align: center !important;
    }
    .rating{
        justify-content: center !important;
    }
    .rate-number{
        margin: auto;
    }
}
.carousel-control-next {
    right: 30px;
}
.carousel-control-prev {
    left: 30px;
}
.carousel-control-next-icon {
    background-image: none !important;
  }
  .carousel-control-prev-icon {
      background-image: none !important;
    }
.modal-body div.card-body{
    background-color: var(--color4);
}
.modal-body .card{
    margin:  0 auto;
    max-width: 250px !important;
  
}
.modal-body .card-header{
    border-radius: 0 !important;
}
div.owl-item{
    display: flex !important;
    justify-content: center !important;
}
.option{
    text-align: center;
}
.card-body{
    /* height: 272px; */
    overflow: scroll;
    background-color: var(--color4);
}
.card-body{
    scrollbar-width: none;
}
.card-body::-webkit-scrollbar{
    width: 0;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
select{
    outline: none !important;
    text-align: center;
    padding: 0px;
 
}
 select{
    scrollbar-width: none;
    color: var(--color2);
}
select::-webkit-scrollbar{
    width: 0;
}
select option {
    font-size: 14px;
    padding:5px;
    cursor: pointer;
    border-radius: inherit;
}
select option:hover{
    background-color: var(--color2) !important;
    color: white;
}

option{
    appearance: none !important; 
}
.form-select {
    padding-right:0 !important;
    background-image: none;
    background-color: var(--color4);
    border: none !important;
}
.form-select:focus{
    box-shadow: none !important;
}
.btn{
    border-radius: 0 !important;
    box-shadow: none !important;
}
.card{
    border-radius: 0 !important;
    border: 0 !important;
}
form{
    max-width: 300px;
}
.owl-item{
    display: flex !important;
    justify-content: center !important;
}


.toTheTop{
    left: calc(50% - 6px);
    bottom:40px;
    color: var(--color2);
    cursor: pointer;
    animation-name: _moveArrow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    /* display: none; */
    
}
@keyframes _moveArrow{
    0%{
        transform: translateY(0px);
  
    }
    50%{
        transform: translateY(-5px);
  
    }
    100%{
        transform: translateY(5px);
     
    }
}
/* .modal{
    display: block !important;
} */

.modal-confirm {		
	color: #636363;
	display: flex;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {

    color: black;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
 
}
.modal-confirm .modal-footer .btn{
    background-color: #82CE34;
    box-shadow: none !important;
}

.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid var(--color2);
}
.modal-confirm .icon-box i {
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;

}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.notAvaliable{
    box-sizing: content-box;
    padding: 10px;
    border-radius: 10px;
}
.booking_li{
    color: var(--color2);
    cursor: pointer;
}
.ul_booking{
    height: 252px;
    overflow: scroll;
    scrollbar-width: 0 !important;
}
.ul_booking::-webkit-scrollbar{
    width: 0px;
}