<div class="container-fluid mt-4">
  <div *ngIf="message" class="my-3 alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
     {{message}}
    </div>
  </div>        
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Doctors</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Add New Doctor
      </h6>
    </div>
  
    <div
      class="card-body container-fluid d-flex justify-content-center bg-light"
    >
    
      <form  action="" method="" class="w-75" [formGroup]="AddDoctor" #addDoctor="ngForm" (submit)="sendDataOfDoctor(addDoctor.value)">
        <div class="mb-3">
          <label for="username" class="form-label"
            >UserName:</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            ngModel
            formControlName="username"
          />
          <div class="alert alert-danger" role="alert" *ngIf="username && username.invalid && username.touched">
            <p class="m-0" *ngIf="AddDoctor.get('username')?.errors?.['required']">UserName is required</p>
        </div> 
        </div>
        <div class="mb-3">
          <label for="fname" class="form-label"
            >First Name:</label
          >
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            ngModel
            formControlName="fname"
          />
          <div class="alert alert-danger" role="alert" *ngIf="fname && fname.invalid && fname.touched">
            <p class="m-0" >first name is required</p>
        </div>  
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label"
            >Last Name:</label
          >
          <input
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            ngModel
            formControlName="lname"
          />
          <div class="alert alert-danger" role="alert" *ngIf="lname && lname.invalid && lname.touched">
            <p class="m-0" *ngIf="AddDoctor.get('lname')?.errors?.['required']">Last name is required</p>
        </div> 
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label"
            >City:</label
          >
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            ngModel
            formControlName="city"
          />
          <div class="alert alert-danger" role="alert" *ngIf="city && city.invalid && city.touched && city.errors">
            <p class="m-0" *ngIf="AddDoctor.get('city')?.errors?.['required']">City is required</p>

        </div> 
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label"
            >Street:</label
          >
          <input
            type="text"
            class="form-control"
            id="Street"
            name="street"
            ngModel
            formControlName="street"
          />
          <div class="alert alert-danger" role="alert" *ngIf="Street && Street.invalid && Street.touched">
            <p class="m-0" *ngIf="AddDoctor.get('street')?.errors?.['required']">Street is required</p>
        </div> 
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label"
            >Fees:</label
          >
          <input
            type="number"
            class="form-control"
            id="Fees"
            name="fees"
            ngModel
            formControlName="fees"
          />
          <div class="alert alert-danger" role="alert" *ngIf="Fees && Fees.invalid && Fees.touched">
            <p class="m-0" *ngIf="AddDoctor.get('fees')?.errors?.['required']">Fees is required</p>

        </div> 
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label"
            >Photo:</label
          >
          <input
            type="file"
            class="form-control"
          
            name="img_name"
            ngModel
            formControlName="img_name"
            (change)="upLoadImg($event)"
          />
          <div class="alert alert-danger" role="alert" *ngIf="img_name && img_name.invalid && img_name.touched">
            <p class="m-0" *ngIf="AddDoctor.get('img_name')?.errors?.['required']">Image is required</p>

        </div> 
        </div>
        <div class="mb-3">
          <label>Gender:</label>
        </div>
        <div class="mb-3">
          <input type="radio" name="gender" id="male" value="Male" ngModel formControlName="gender"/>
          <label for="male"> Male </label>
        </div>
        <div class="mb-3">
          <input type="radio" name="gender" id="female" value="Female" ngModel formControlName="gender" />
          <label for="female"> Female </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="gender && gender.invalid && gender.touched">
          <span>
            gender input filed is not valid
          </span>
      </div> 
        <div class="mb-3">
          <div class="wrapper">
            <label for="title" >Choose Title</label>
            <select  ngModel formControlName="title" name="title" id="title" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
              <option selected>Choose Title</option>
              <option value="professor">Professors</option>
              <option value="lecturer">Lecturer</option>
              <option value="consultant">Consultant</option>
              <option value="specialist">Specialist</option>

          </select>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="title && title.invalid && title.touched">
        <p class="m-0" *ngIf="AddDoctor.get('title')?.errors?.['required']">title is required</p>

    </div> 
        </div>
        <div class="mb-3">
          <div >       
            <label for="specialization" >Choose specialization</label>
            <select  ngModel formControlName="specialization_id" name="specialization_id" id="specialization" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
        
                <option  *ngFor="let special of specialty" [value]="special.id" >{{special.name}}</option>
                
        </select>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="specialization && specialization.invalid && specialization.touched">
          <p class="m-0">specialization is required</p>

      </div> 
        </div>
        <div class="mb-3">
          <div >       
            <label for="specialization" >Description</label>
            <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            ngModel
            formControlName="description"
          />
          <div class="alert alert-danger" role="alert" *ngIf="Description && Description.invalid && Description.touched">
            <p class="m-0" >Description is required</p>
          </div>
        </div>
        </div>
          <div class="mb-3">
          <label for="phone" class="form-label"
            >Phone Number:</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="phone"
            ngModel
            formControlName="phone"
          />
          <div class="alert alert-danger" role="alert" *ngIf="phone && phone.invalid && phone.touched">
            <p class="m-0" *ngIf="AddDoctor.get('phone')?.errors?.['required']">phone is required</p>
        </div> 
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            formControlName="password"
          />
          <div class="alert alert-danger" role="alert" *ngIf="password && password.invalid && password.touched">
            <p class="m-0" *ngIf="AddDoctor.get('password')?.errors?.['required']">password is required</p>

        </div> 
        </div>

        <button [disabled]="AddDoctor.invalid" type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>