<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Doctors</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Doctors's Data</h6>
        </div>
        <div class="card-body bg-light">
            <div class="table-responsive">
                <table class="table table-bordered text-center " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                            <th>Gender</th>
                            <th>Title</th>
                            <th>Specialization</th>
                            <th>Phone Number</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of doctor | paginate: { itemsPerPage: count, currentPage: p }">
                            <td>{{doc.id}}</td>
                            <td>{{doc.fname}}</td>
                            <td>{{doc.lname}}</td>
                            <td>{{doc.username}}</td>
                            <td>{{doc.gender}}</td>
                            <td>{{doc.title}}</td>
                            <td>{{doc.specialization}}</td>
                            <td>{{doc.phone}}</td>
                            <td class="text-center"><button class="btn btn-danger w-100" type="submit" (click)="delete(doc.id)">Delete</button></td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
        </div>
    </div>

</div>
