<button data-bs-toggle="modal" data-bs-target="#confirm_appointment">

</button>

<div #myModal id="confirm_appointment" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div  class="modal-dialog modal-dialog-centered modal-confirm ">
		<div class="modal-content ">
			<div class="modal-header d-flex flex-column">
				<div class="icon-box">
                    <i class="fa-solid fa-calendar-check material-icon text-primary"></i>
				</div>				
				<h4 class="modal-title text-primary w-100">Awesome!</h4>
			</div>
			<div class="modal-body">
      
				<p class="text-center">Your booking has been confirmed. Check your profile for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn w-100" data-bs-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     