<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-4 ">
            <div class="bg-white rounded-3">
                <div class="nav flex-column nav-pills w-100  " id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                       

                        <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"><i class="fa-solid fa-commenting me-3 "></i>Manage Profile</button>
                    
                        <button class="nav-link  text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"> <i class="fa-solid fa-users me-3 "></i>Change password</button>

                        <button class="nav-link  text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"> <i class="fa-solid fa-shield me-3 "></i>Insurance</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 sideMargin">
            <div class="aaaa bg-white pb-4">
                <h4 class="bg-primary rounded-top text-white text-center py-2 ">Change Password </h4>
                <div class="text-primary px-4">
                    <div class="form-floating my-3 text-center">
                        <input type="Name" class="form-control " id="floatingName"
                            placeholder="name@example.com">
                        <label for="floatingName">Password</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="email" class="form-control" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">New Password </label>
                    </div>
                   
                  
                   
                    <button type="submit" class="btn btn-danger">Save</button>
                    <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                </div>


            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

</div>