<div class="vh-75 d-flex justify-content-center align-items-center ">

    <div class="aaaa bg-white pb-4  w-75 ">
        <h4 class="bg-primary rounded-top text-white text-center py-2 ">Change Password </h4>
        <form (ngSubmit)="submitChangePassword(changePasswordForm.value)" [formGroup]="changePasswordForm">
        <div class="text-primary px-4">
            <div class="form-floating my-3 text-center ">
                <input formControlName="password" type="password" class="form-control " id="floatingName"
                    placeholder="name@example.com">
                <label for="floatingName">Password</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched">
                <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['minlength']">Password min length is 8</p>
                <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['maxlength']">Password Max length is 20</p>
            </div>
            <div class="form-floating my-3">
                <input formControlName="newpassword" type="password" class="form-control" id="floatingInput1"
                    placeholder="name@example.com">
                <label for="floatingInput1">New Password </label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="changePasswordForm.get('newpassword')?.errors && changePasswordForm.get('newpassword')?.touched">
                <p class="m-0" *ngIf="changePasswordForm.get('newpassword')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="changePasswordForm.get('newpassword')?.errors?.['minlength']">Password min length is 8</p>
                <p class="m-0" *ngIf="changePasswordForm.get('newpassword')?.errors?.['maxlength']">Password Max length is 20</p>
            </div>
            <div class="form-floating my-3">
                <input formControlName="confirmpassword" type="password" class="form-control" id="floatingInput2"
                    placeholder="name@example.com">
                <label for="floatingInput2">Confirm Password </label>
            </div>
            <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-danger" (click)="submitChangePassword(changePasswordForm)">Save</button>
            <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
        </div>
        </form>

    </div>
</div>


