

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon d-flex justify-content-center align-items-center ">
                <img src="../../../../assets/landing_page/images/Screenshot_from_2022-03-01_01-42-49-removebg-preview.png" alt="logo" >
            </div>
            <div class="sidebar-brand-text mx-2">A4 Health</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/doctor">
                <i class="fa-solid fa-user-doctor  text-white"></i>
                <span class="fw-bold">Doctors</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/addDoctor">
                <i class="fa-solid fa-user-doctor  text-white"></i>
                <span class="fw-bold">+ Add Doctor</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider text-black">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/patient">
                <i class="fa-solid fa-hospital-user text-white"></i>
                <span class="fw-bold">Patients</span></a>
        </li>
          <!-- Divider -->
          <hr class="sidebar-divider text-black">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/specialties">
                <i class="fa-solid fa-address-book text-white"></i>
                <span class="fw-bold">Specialties</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/addSpecialties">
                <i class="fa-solid fa-address-book text-white"></i>
                <span class="fw-bold">+ Specialties</span></a>
        </li>
  <!-- Divider -->
  <hr class="sidebar-divider text-black">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/feadback">
                <i class="fa-solid fa-comment text-white"></i>
                <span class="fw-bold">Feedbacks</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">                        



        <!-- Sidebar Toggler (Sidebar)  -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggle()"></button>
        </div>

    </ul>

