<div class="vh-75 d-flex justify-content-center align-items-center ">

    <div class="aaaa bg-white pb-4  w-75 ">
        <h4 class="bg-primary rounded-top text-white text-center py-2 ">Change Password </h4>
        <form (ngSubmit)="submitChangePassword(changePasswordForm.value)" [formGroup]="changePasswordForm">
        <div class="text-primary px-4">
            <div class="form-floating my-3 text-center ">
                <input formControlName="old_password" type="password" class="form-control " id="floatingName"
                    placeholder="name@example.com">
                <label for="floatingName">Old Password</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="changePasswordForm.get('old_password')?.errors && changePasswordForm.get('old_password')?.touched">
                <p class="m-0" *ngIf="changePasswordForm.get('old_password')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="changePasswordForm.get('old_password')?.errors?.['minlength']">Password min length is 8</p>
                <!-- <p class="m-0" *ngIf="changePasswordForm.get('old_password')?.errors?.['maxlength']">Password Max length is 20</p> -->
            </div>
            <div class="form-floating my-3">
                <input formControlName="password" type="password" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Password </label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched">
                <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['minlength']">Password min length is 8</p>
                <!-- <p class="m-0" *ngIf="changePasswordForm.get('password')?.errors?.['maxlength']">Password Max length is 20</p> -->
            </div> 
            <div class="form-floating my-3">
                <input formControlName="password_confirmation" type="password" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Password Confirmation </label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="changePasswordForm.get('password_confirmation')?.errors && changePasswordForm.get('password_confirmation')?.touched">
                <p class="m-0" *ngIf="changePasswordForm.get('password_confirmation')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="changePasswordForm.get('password_confirmation')?.errors?.['minlength']">Password min length is 8</p>
                <!-- <p class="m-0" *ngIf="changePasswordForm.get('password_confirmation')?.errors?.['maxlength']">Password Max length is 20</p> -->
            </div> 
            <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary">Save</button>
            <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
        </div>
       
        </form>
        <div *ngIf="message" class=" my-3 alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="30" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
             {{message}}
            </div>
          </div>

    </div>
</div>


