<div class="container-fluid login w-100 ">
    
    <div class="py-5">

        <div class=" sideMargin w-75 mx-auto">
            <div class="aaaa bg-white pb-4">
            <h4 class="bg-primary rounded-top text-white text-center py-2 ">Admin Login</h4>
            <form [formGroup]="login" #loginForm="ngForm" (submit)="loginAdmin(loginForm.value)">
                <div class="text-primary px-4">
                    <div class="form-floating my-3 text-center">
                        <input formControlName="username" name="username" type="text" class="form-control " id="floatingusername" 
                            placeholder="username" ngModel>
                        <label for="floatingusername">Username</label>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="username && username.invalid && username.touched">
                        <span>
                            username input filed is not valid
                        </span>
                    </div>
                    <div class="form-floating my-3 text-center">
                        <input formControlName="password" name="password" type="password" class="form-control " id="password" 
                            placeholder="password" ngModel>
                        <label for="floatingpassword">Password</label>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="password && password.invalid && password.touched">
                        <span>
                            username input filed is not valid
                        </span>
                    </div>
        
                    <button  type="submit" class="btn btn-danger" >Login</button>
                 
                </div>
            </form>
        

            </div>
        </div>

        </div>

        <div *ngIf="massege" class="my-3 alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
             {{massege}}
            </div>
          </div>

  </div> 