<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Patient's Feedbacks</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between" >
            <h6 class="m-0 font-weight-bold text-primary">Feedbacks</h6>
            <form class="d-flex" #filterDoctor="ngForm">
                <input class="form-control me-2" name="searchResult" type="search" placeholder="Search with Doctor ID" aria-label="Search" [(ngModel)]="searchResultn">
            </form>
        </div>
        <div class="card-body bg-light">
            <div class="table-responsive">
                <table class="table table-bordered text-center text-dark" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            
                            <th>Patient</th>
                            <th>Feedback Messages</th>
                            <th>Doctor</th>
                            <th>Doctor ID</th>
                            <th>Rating</th>
                            <th>Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- | filter:searchResult -->
                        <tr  *ngFor="let review of reviews | paginate: { itemsPerPage: count, currentPage: p }| filter:searchResultn ; index as i">
                        
                            <td>{{patients[i].username}}</td>
                            <td class="w-50">{{review.message}}</td>
                            <td><span>Dr.</span> {{doctors[i].fname+' '+doctors[i].lname}}</td>
                            <td>{{review.doctor_id}}</td>
                            <td><i *ngFor="let star of counter(review.rating)" class="fa-solid fa-star text-warning"></i>
                            </td>
                            <td class="text-center"><button class="btn btn-danger w-100"
                                (click)="delete(review.id)"
                                >Delete</button></td>

                        </tr>
                        
                  
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
        </div>
    </div>

</div>