

<!-- <app-dotor-search-field  (update_search_results)="onUpdateSearchResults($event)"></app-dotor-search-field>
<app-search-results [Doctor_data]="updated_search_results"></app-search-results> -->

<!-- <app-nav-bar></app-nav-bar>
<app-main-landing-page></app-main-landing-page>  -->
<!-- <app-book-with-doctor></app-book-with-doctor> -->
<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->
<!-- 
<app-dotor-search-field  (update_search_results)="onUpdateSearchResults($event)"></app-dotor-search-field>
<app-search-results [Doctor_data]="updated_search_results"></app-search-results>  -->

<!-- <app-nav-bar></app-nav-bar>
<app-main-landing-page></app-main-landing-page>  -->
<!-- <app-book-with-doctor></app-book-with-doctor> -->
 <!-- <app-footer></app-footer> -->

<app-admin-dashboard></app-admin-dashboard>
