<footer class="footer text-white py-4 d-flex justify-content-center align-items-center">
    <div class="tmp w-90  row m-0 d-flex justify-content-center">
    <p class="mt-4 col-lg-8 text-center">
        Copyright ©2022 All rights reserved | This template is made with  by A4Health's Team
    </p>
    <!-- <div class="media col-lg-4 gap-3 justify-content-center align-items-center d-flex">
       <a href="https://www.facebook.com/" target="_blank" class="text-white"> <i class="fa-brands fa-facebook hover"></i></a>
       <a href="https://www.instagram.com/" target="_blank"  class="text-white">   <i class="fa-brands fa-instagram hover"></i></a>
       <a href="https://www.twitter.com/" target="_blank"  class="text-white"> <i class="fa-brands fa-twitter hover"></i></a>
       <a href="https://www.skype.com/" target="_blank"  class="text-white">  <i class="fa-brands fa-skype hover"></i></a>
    </div> -->
</div>
</footer>