
    <!-- Page Heading -->
            <!-- <div class="col-lg-3 "> -->
                <!-- <div class="bg-white rounded-3">
                    <div class="nav flex-column nav-pills w-100  " id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">


                        <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"><i class="fa-solid fa-commenting me-3 "></i>Manage Profile</button>

                        <button class="nav-link  text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"> <i class="fa-solid fa-users me-3 "></i>Change password</button>

                        <button class="nav-link  text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"> <i class="fa-solid fa-shield me-3 "></i>Insurance</button>
                    </div>
                </div> -->
            <!-- </div> -->
            <div class=" sideMargin w-75 mx-auto">
                <div class="aaaa bg-white pb-4">
                    <h4 class="bg-primary rounded-top text-white text-center py-2 ">Mange Profile</h4>
                    <form  [formGroup]="manageProfileForm">
                    <div class="text-primary px-4">
                        <div class="form-floating my-3 text-center">
                            <!-- <h2>{{manageProfileForm.get('fName')?.errors|json}}</h2> -->
                            <input formControlName="fName" name="fName" type="text" class="form-control " id="floatingfName" 
                                placeholder="name@example.com">
                            <label for="floatingfName">First Name</label>
                        </div>
                        <div class="alert alert-danger" 
                        *ngIf="manageProfileForm.get('fName')?.errors && manageProfileForm.get('fName')?.touched">
                            <p class="m-0" *ngIf="manageProfileForm.get('fName')?.errors?.['required']">first name is required</p>
                            <p class="m-0" *ngIf="manageProfileForm.get('fName')?.errors?.['minlength']">first name min length is 2</p>
                            <p class="m-0" *ngIf="manageProfileForm.get('fName')?.errors?.['maxlength']">first name Max length is 20</p>
                        </div>
                        <div class="form-floating my-3 text-center">
                            <input formControlName="lName" name="lName" type="text" class="form-control " id="floatinglName" 
                                placeholder="name@example.com">
                            <label for="floatinglName">Last Name</label>
                        </div>
                        <div class="alert alert-danger" 
                        *ngIf="manageProfileForm.get('lName')?.errors && manageProfileForm.get('lName')?.touched">
                            <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">last name is required</p>
                            <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['minlength']">last name min length is 2</p>
                            <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['maxlength']">last name Max length is 20</p>
                        </div>
                        <!-- <div class="form-floating my-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div> -->
                        <div class="form-check-inline">
                            <label>Gender</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input formControlName="Gender" class="form-check-input" type="radio" name="Gender" id="inlineRadio1" 
                               value="Male" >
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input formControlName="Gender" class="form-check-input" type="radio" name="Gender" id="inlineRadio2" 
                            value="Female" >
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="alert alert-danger" 
                        *ngIf="manageProfileForm.get('Gender')?.errors && manageProfileForm.get('Gender')?.touched">
                            <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">Gender is required</p>
                        </div>
                       
                        <div class="form-floating my-3 d-flex justify-content-between ">
                           
                            <input formControlName="phone" name="phone" #phone type="text" class="form-control w-75" id="floatingphone"
                                placeholder="name@example.com">
                            <label for="floatingphone">Phone</label>
                            <!-- <button (click)="addPhone(phone.value)"  type="submit" class="btn btn-danger align-self-center">Add</button>
                            <button (click)="deletePhone(phone.value)"  type="submit" class="btn btn-danger align-self-center">Delete</button> -->
                       
                        </div>
                   
                        <!-- <div class="d position-relative">
                            <select  #Phones name="phones" class="form-select text-primary my-3" aria-label="Default select example">
                                <option disabled selected style="display:none;"> Your Phones </option>
                                <option *ngFor="let num of userData.Phones"  class="text-primary" [value]="num">{{num}}</option>
                            </select>
                        </div> -->
                        <!-- <div class="form-floating text-primary my-3">
                            <input type="date" class="form-control text-danger" id="floatingBirthday"
                                placeholder="Birthday">
                            <label for="floatingBirthday">Birthday</label>
                        </div> -->
                        <div class="d position-relative">
                            <!-- formControlName="City" -->
                            <select   class="form-select text-primary my-3" aria-label="Default select example">
                                <option disabled selected style="display:none;"> City </option>

                                <option *ngFor="let c of city"  class="text-primary" [value]="c">{{c}}</option>

                            </select>
                        </div>
                        <div class="alert alert-danger" 
                        *ngIf="manageProfileForm.get('City')?.errors && manageProfileForm.get('City')?.touched">
                            <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">City is required</p>
                        </div>
                        <button (click)="submitManageProfile(manageProfileForm.value)" [disabled]="manageProfileForm.invalid" type="submit" class="btn btn-danger">Save</button>
                        <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                     
                    </div>
                </form>


                </div>
            </div>
            <!-- <div class="col-lg-3"></div> -->




 