
<header class="d-flex flex-column flex-nowrap ">


    <div id="home" class="row pt-5 pb-5 m-0">
                <div class="col-md-6 d-flex justify-content-center align-items-center flex-column flex-nowrap ps-3 pe-3">

                    <h4 class="lineBefore pss text-center  ">A range of programs for health</h4> 
                    <h2 class="pss fw-bolder fw70">Special Touch</h2>
                    <p class="lead pss text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorum
                        maiores veritatis
                        alias eius dolor id illo necessitatibus atque obcaecati.</p>

                </div>
                <div class="col-md-6  pt-md-0 pt-sm-5 d-flex justify-content-center align-items-center">
                    <div class="home-pic w-75">
                        <img src="../../../../assets/landing_page/images/model1.png" class="w-100" alt=""></div>
                </div>
    </div>

<!--               
                <div class="col-md-6  pt-md-0 pt-sm-5 d-flex justify-content-center align-items-center">
                    <div class="home-pic w-75">
                        <img src="../../../../assets/landing_page/images/model1.png" class="w-100" alt=""></div>
                </div> -->
   
</header>




<section id="services" class="appServices">
<app-services></app-services>
</section>

<section id="aboutUs" class=" row  m-0 aboutUs ">
<div class="col-lg-6 d-flex align-items-center ps-0 pe-0">
    <div class="p-lg-5 p-3 d-flex flex-column align-items-center">
        <h2>
            Why Choose Our Clinic
        </h2>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, iusto exercitationem veritatis culpa dolores vero natus architecto qui et quidem odio. Maiores quis voluptates quaerat earum deserunt eos nobis quod?
        </p>
    </div>
</div>
<div class="col-lg-6 ps-0 pe-0">
    <div class="row m-0 pt-3 pb-3">
         <div class="col-lg-6 d-flex flex-column flex-lg-column flex-md-row  justify-content-lg-center  justify-content-evenly align-items-center p-0 aboutCardParent">
            <div class="aboutCard d-flex flex-column justify-content-center align-items-center mt-4 mb-4 p-3">
                <img src="../../../assets/landing_page/images/d1bf6ee524c59a7c526b1274c7a0d506-removebg-preview.png" alt="doctors" class=" rounded-circle ">
                <p class="mt-3 mb-3">
                    Professional Doctors
                </p>
            </div>
            <div class=" aboutCard d-flex flex-column justify-content-center align-items-center mt-4 mb-4 p-3 ">
                <img src="../../../assets/landing_page/images/conversation-furniture-interaction-for-family-day-5e292e3ca37ec4.12258923.png" alt="doctors" class=" rounded-circle">
                <p class="mt-3 mb-3">
                    Family Medicine
                </p>
            </div>

         </div>
         <div class="col-lg-6 d-flex align-items-center justify-content-center p-0 aboutCardParent">
            <div class="aboutCard d-flex flex-column justify-content-center align-items-center p-3">
                <img src="../../../assets/landing_page/images/24-hours-doctor-service-logo-icon-sign-247-day-vector-28122184-removebg-preview.png" alt="doctors" class=" rounded-circle">
                <p class="mt-3 mb-3">
                    Family Medicine
                </p>
            </div>
        </div>
    </div>
</div>
</section>

<section id="Community" class="appMeetDoctors">
<app-meet-doctors></app-meet-doctors>
</section>
<section class="appFeedback">
<!-- <app-feedback></app-feedback> -->
</section>