<div class="container-fluid appointmentContainer text-black">

    <!-- Page Heading -->
    <h3 class=" mb-4 AppointmentHeader fw-bold  ">
        <i class="fa-solid fa-calendar-plus  fs-3  text-primary"></i>
        New Offer
    </h3>
    <form [formGroup]="addOfferForm"
        class="text-center bg-white addAppointment p-sm-5 p-3 ">
        <div class="w-75 mx-auto">
            <input class="form-control" formControlName="name" type="text" name="patientLimit" id="AppointmentTime"
                placeholder="Offer Name">
                <br>
               
            <input  class="form-control" formControlName="discount" type="number" name="examinationTime" id="AppointmentTime"
                placeholder="Offer Discount">
                <br>
                <div class="alert alert-danger" 
                *ngIf="addOfferForm.get('discount')?.errors && addOfferForm.get('discount')?.touched">
                    <p class="m-0" *ngIf="addOfferForm.get('discount')">Discount must be between 0 and 100</p>
                    <!-- <p class="m-0" *ngIf="doctorEditForm.get('password')?.errors?.['maxlength']">Password Max length is 20</p> -->
                </div> 
                <button (click)="addOoffer(addOfferForm.value)" [disabled]="addOfferForm.invalid" type="submit"
            class="btn btn-primary ">Add New Offer</button>
        </div>

        
    </form>
    <h3 class=" mb-4 mt-4 mt-3 AppointmentHeader  fw-bold ">
        <i class="fa-solid fa-calendar-days fs-3 text-primary"></i>
        Your Offers
    </h3>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <!-- <h6 class="m-0 font-weight-bold text-primary">Patients' Appointments</h6> -->
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-center text-black">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Discount</th>
                            <th>Action</th>
                        </tr>
           
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of doctor_offers ; index as i" class="text-center">
                        

    
                            <td>{{offer.doctor_id}}</td>
                            
                            <td>{{offer.name}}</td>

                            <td>%{{offer.discount}}</td>

                            <td>
                                <a (click)="getIndexOffer(offer)" class="me-2" title="Edit Appointment"
                                    data-toggle="modal" data-target="#editModal">
                                    <i class="fa-solid fa-pencil "></i>
                                </a>
                                <a (click)="getIndexOfferToDelete(offer)"  title="delete Appointment"  data-toggle="modal" data-target="#deleteModal"
                                    style="cursor: pointer;"  class="text-danger">
                                    <i class="fa-solid fa-calendar-xmark "></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">

    <form class=" modal-dialog modal-dialog-centered" role="document" [formGroup]="editOfferForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit Offer</h5>

            </div>
            <div class="modal-body">
                <div class="mt-2 mb-2">
                    <input formControlName="name" placeholder="Offer Name" type="text" name="name" id="modalAppointmentDate">
                </div>
                <div class="mt-2 mb-2">
                    <input formControlName="discount" placeholder="Offer Discount" type="number" name="discount"
                        id="modalAppointmentTime">
                </div>

                <div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="editOfferr(editOfferForm.value)"
                    [disabled]="editOfferForm.invalid">
                    Save
                </button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
            </div>
            <div *ngIf="edited" class="alert alert-success" role="alert">
                Edited Successfully
              </div>
        </div>
    </form>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">

    <div class=" modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Delete Offer</h5>

            </div>
            <div class="modal-body">
               <h5>Are you sure to delete this Offer ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" (click)="deleteOffer()"
                  >
                    Delete
                </button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
            </div>
            <div *ngIf="deleted" class="alert alert-success" role="alert">
                Deleted Successfully
              </div>
        </div>
    </div>
</div>
