<div class="feedBack">
    <div class="mainContainer py-5">
        <div class="container">
            <div class="feedback">
                <h2 class="text-center">Feedback</h2>
            </div>
            <div class="row g-5 m-0 mt-3">
                <owl-carousel-o [options]="customOptions">

                    <ng-template carouselSlide *ngFor="let review of reviews; index as i">

                        <div>
                    <div class=" item-container mt-5 mb-5">
                    <div class="card c-feedback">
                        <div class="qoutL">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <div class="card-body text-center">

                          <p class="card-text">{{review.message+i}}</p>
                          
                          <div class="user d-flex justify-content-center justify-content-sm-between flex-sm-row flex-column flex-wrap align-items-center">
                              <img  class=" rounded-circle " [src]="patients[i].image_name">
                             <div class="info d-flex justify-content-center align-items-center flex-column">

                                <p class="fw-bold pt-2 pb-2 m-0"  >{{patients[i].username}} </p>
<!-- *ngIf="review.patient_id==patients[i].id" -->

                                <p class=" m-0">patient</p>
                             </div>
                          </div>
                        </div>
                        <div class="qoutR">
                            <i class="fa-solid fa-quote-right"></i>
                          </div>
                      </div>
                    </div>
                </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class=" item-container mt-5 mb-5">
                    <div class="card c-feedback">
                        <div class="qoutL2">
                            <i class="fa-solid fa-quote-left "></i>
                        </div>
                        <div class="card-body">
                          <p class="card-text text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque accusantium est molestiae et eum quidem soluta saepe in. Labore necessitatibus praesentium dolor adipisci vitae dolore rerum eaque tempore aliquid sunt!</p>
                          <div class="user d-flex justify-content-center justify-content-sm-between flex-sm-row flex-column flex-wrap align-items-center">
                              <img  class="rounded-circle" src="../../../../assets/landing_images/images/images.png">
                             <div class="info d-flex justify-content-center align-items-center flex-column ">
                                <p class="fw-bold pt-2 pb-2 m-0"> Pual Peterson</p>
                                <p class=" m-0">patient</p>
                             </div>
                          </div>
                        </div>
                        <div class="qoutR2">
                            <i class="fa-solid fa-quote-right"></i>
                          </div>
                      </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>                    
                    <div class=" item-container mt-5 mb-5">
                    <div class="card c-feedback">
                        <div class="qoutL">
                            <i class="fa-solid fa-quote-left "></i>
                        </div>
                        <div class="card-body">
                          <p class="card-text text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque accusantium est molestiae et eum quidem soluta saepe in. Labore necessitatibus praesentium dolor adipisci vitae dolore rerum eaque tempore aliquid sunt!</p>
                          <div class="user d-flex justify-content-center justify-content-sm-between flex-sm-row flex-column flex-wrap align-items-center">
                              <img  class="rounded-circle" src="../../../../assets/landing_images/images/images.png">
                             <div class="info d-flex justify-content-center align-items-center flex-column ">
                                <p class="fw-bold pt-2 pb-2 m-0"> Pual Peterson</p>
                                <p class=" m-0">patient</p>
                             </div>
                          </div>
                        </div>
                        <div class="qoutR">
                            <i class="fa-solid fa-quote-right"></i>
                          </div>
                      </div>
                      </div>
                    </ng-template> -->
            </owl-carousel-o>
            </div>
        </div>
    </div>
</div>