/* You can add global styles to this file, and also import other style files */


/* @import url('assets/css/style.css');   */
/* @import url("./app/Component/search_doctors/main/dotor-search-field/dotor-search-field.component.css");
@import url("./app/Component/search_doctors/main/search_results/search-results/search-results.component.css"); */

:root{
    --color1:#043d75;
    --color2:#0075ff;
    --color3:#FF8C83;
    --color4:#e7eef6;
    --color5:#ebeeff;
    --color6:#fee1d3;
    --color7:#e4e7ec;
    --color8:#6eb4d8;
    --color9:#ffd5bf;
    scroll-behavior: smooth;
}
