.color-nav
{
    background-color:rgba(182, 218, 253, 0.7);
}

@media screen and (max-width: 993px) {

    .handle-nav
    {
        display: flex;
        flex-direction: column;
    }
    .handle-m
{
    margin: 0;
}}
.nav-item a{
    text-decoration: none;

   
}
.nav-item .nav-link.active a{
    color: #fff !important;
}

