<div class=" my-3 sideMargin w-75 mx-auto h d-flex align-items-center">
    <div class="aaaa bg-white pb-4 w-100">
        <h4 class="bg-primary rounded-top text-white text-center py-2 ">Log in</h4>
        <form [formGroup]="loginForm">
        <div class="text-primary px-4">
            <div class="form-floating my-3 text-center">
                <input formControlName="username" name="username" type="text" class="form-control " id="floatingUsername" 
                    placeholder="name@example.com">
                <label for="floatingUsername">Username</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="loginForm.get('username')?.errors && loginForm.get('username')?.touched">
                <p class="m-0" *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</p>
                <p class="m-0" *ngIf="loginForm.get('username')?.errors?.['minlength']">Username min length is 4</p>
            </div>
            <div class="form-floating my-3 text-center">
                <input formControlName="password" name="username" type="password" class="form-control " id="floatingPassword" 
                    placeholder="name@example.com">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                <p class="m-0" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password min length is 4</p>
            </div>
            <button (click)="submitLogIn(loginForm.value)" [disabled]="loginForm.invalid"  type="submit" class="btn btn-primary">Save</button>
            <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
        </div>
    </form>
    <div *ngIf="sign"  class="alert alert-danger my-3" role="alert">
        Username or Password isn't Correct
    </div>
    </div>
</div>
<!-- Error massage -->