<div class=" my-3 sideMargin w-75 mx-auto">
    <div class="aaaa bg-white pb-4">

        <h4 class="bg-primary rounded-top text-white text-center py-2 ">Sign Up</h4>


        <form [formGroup]="signupForm">
        <div class="text-primary px-4">
            <div class="form-floating my-3 text-center">
                <!-- <h2>{{manageProfileForm.get('fName')?.errors|json}}</h2> -->

                <input [readonly]="ifV" formControlName="fname" name="fname" type="text" class="form-control " id="floatingfname" 
                    placeholder="name@example.com">
                <label for="floatingfname">First Name</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="signupForm.get('fname')?.errors && signupForm.get('fname')?.touched">
                <p class="m-0" *ngIf="signupForm.get('fname')?.errors?.['required']">first name is required</p>
                <p class="m-0" *ngIf="signupForm.get('fname')?.errors?.['minlength']">first name min length is 4</p>
                
            </div>
            <div class="form-floating my-3 text-center">
                <input [readonly]="ifV" formControlName="lname" name="lname" type="text" class="form-control " id="floatinglname" 
                    placeholder="name@example.com">
                <label for="floatinglname">Last Name</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="signupForm.get('lname')?.errors && signupForm.get('lname')?.touched">
                <p class="m-0" *ngIf="signupForm.get('lname')?.errors?.['required']">last name is required</p>
                <p class="m-0" *ngIf="signupForm.get('lname')?.errors?.['minlength']">last name min length is 4</p>
            </div>

            <div class="form-floating my-3 text-center">
                <input [readonly]="ifV" formControlName="username" name="username" type="text" class="form-control " id="floatingusername" 
                    placeholder="name@example.com">
                <label for="floatingusername">Username</label>
            </div>
            <div class="alert alert-danger" 
            *ngIf="signupForm.get('username')?.errors && signupForm.get('username')?.touched">
                <p class="m-0" *ngIf="signupForm.get('username')?.errors?.['required']">Username is required</p>
                <p class="m-0" *ngIf="signupForm.get('username')?.errors?.['minlength']">Username min length is 4</p>
            </div>
            <div class="form-floating my-3 text-center">
                <input [readonly]="ifV" formControlName="password" name="username" type="password" class="form-control " id="floatingPassword" 

                    placeholder="name@example.com">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="alert alert-danger" 

            *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.touched">
                <p class="m-0" *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</p>
                <p class="m-0" *ngIf="signupForm.get('password')?.errors?.['minlength']">Password min length is 4</p>

            </div>
            <!-- <div class="alert alert-danger" 
            *ngIf="manageProfileForm.get('lName')?.errors && manageProfileForm.get('lName')?.touched">
                <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">last name is required</p>
                <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['minlength']">last name min length is 2</p>
                <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['maxlength']">last name Max length is 20</p>
            </div> -->
            <!-- <div class="form-floating my-3">
                <input type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div> -->
            <div class="d-flex align-items-center">
                <div class="form-check-inline">
                    <label>Gender</label>
                </div>
                <div class="form-check form-check-inline">

                    <input [attr.disabled]="ifV1" formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio1" 

                       value="Male" >
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">

                    <input [attr.disabled]="ifV1" formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio2" 

                    value="Female" >
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
            </div>
            <div class="alert alert-danger" 

            *ngIf="signupForm.get('gender')?.errors && signupForm.get('gender')?.touched">
                <p class="m-0" *ngIf="signupForm.get('gender')?.errors?.['required']">Gender is required</p>

            </div>
            
            <!-- <div class="alert alert-danger" 
            *ngIf="manageProfileForm.get('Gender')?.errors && manageProfileForm.get('Gender')?.touched">
                <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">Gender is required</p>
            </div> -->
           
            <div class="form-floating my-3 d-flex justify-content-between ">

                <input [readonly]="ifV" formControlName="phone" #phone type="text" class="form-control w-75" id="floatingphone"
                    placeholder="name@example.com">
                <label for="floatingphone">Phone +2</label>
                <button [disabled]="signupForm.invalid" (click)="show();check();submitManageProfile(signupForm.value)"  type="submit" class="btn btn-danger align-self-center">Verify</button>           
            </div>
            <div class="alert alert-danger" 
            *ngIf="signupForm.get('phone')?.errors && signupForm.get('phone')?.touched">
                <p class="m-0" *ngIf="signupForm.get('phone')?.errors?.['required']">Phone name is required</p>
                <p class="m-0" *ngIf="signupForm.get('phone')?.errors?.['pattern']">Phonemust be 13</p>
            </div>

            <div class="form-floating my-3 d-flex justify-content-between" *ngIf="hide">
                <input [readonly]="readonly" formControlName="verifyM"  #mv  type="text" class="form-control w-75" id="floatingmassage"
                    placeholder="name@example.com">
                <label for="floatingmassage">Massage Verification</label>
                <button  (click)="getmv(mv.value)" type="submit" class="btn btn-danger align-self-center">Checked</button>           

            </div>
       
            <!-- <div class="d position-relative">
                <select  #Phones name="phones" class="form-select text-primary my-3" aria-label="Default select example">
                    <option disabled selected style="display:none;"> Your Phones </option>
                    <option *ngFor="let num of userData.Phones"  class="text-primary" [value]="num">{{num}}</option>
                </select>
            </div> -->
            <!-- <div class="form-floating text-primary my-3">
                <input type="date" class="form-control text-danger" id="floatingBirthday"
                    placeholder="Birthday">
                <label for="floatingBirthday">Birthday</label>
            </div> -->
            <!-- <div class="d position-relative">
                <select formControlName="City"  class="form-select text-primary my-3" aria-label="Default select example">
                    <option disabled selected style="display:none;"> City </option>

                    <option *ngFor="let c of city"  class="text-primary" [value]="c">{{c}}</option>

                </select>
            </div> -->
            <!-- <div class="alert alert-danger" 
            *ngIf="manageProfileForm.get('City')?.errors && manageProfileForm.get('City')?.touched">
                <p class="m-0" *ngIf="manageProfileForm.get('lName')?.errors?.['required']">City is required</p>
            </div> -->

            <button (click)="Save()" *ngIf="save" type="submit" class="btn btn-danger">Sign up</button>

            <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
         
        </div>
    </form>


    </div>

    <div *ngIf="message" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
         {{message}}
        </div>
      </div>

</div>